<div class="select">
  <%4.times do%>
    <div class="button square">
      <div class="options close">
        <div class="red">r</div>
        <div class="green">g</div>
        <div class="blue">b</div>
        <div class="cyan">c</div>
        <div class="magenta">m</div>
        <div class="yellow">y</div>
      </div>
    </div>
  <%end%>
  <div class="square button black" onclick="submitForm()"><span class="l1">OK</span></div>
  <div class="divider"></div>
</div>